body {
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.new-comment {
  display: flex;
  align-items: center;
}

.new-comment img {
  width: 2rem;
  height: 2rem;
}

.new-comment input#comment {
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}

.new-comment button {
  padding: 0.5rem 1rem;
  background-color: blue;
  color: white;
  font-weight: bold;
}

input[type=text] {
  padding: 0.5rem;
}

